.todoListMain .header input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ffffff;
    width: 165px;
}

.todoListMain .header button {
    padding: 10px;
    font-size: 16px;
    color: #222222;
    margin: 10px;
    margin-right: 0px;
    background-color: #61dafb;
    border: 2px solid #61dafb;
}

.todoListMain .theList {
    list-style: none;
    padding-left: 0;
    width: 250px;
}

.todoListMain .theList li {
    color: #282c34;
    background-color: #61dafb;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    list-style: none;

    transition: background-color .2s ease-out;

}

.todoListMain .theList li:hover {
    background-color: crimson;
    cursor: pointer;
}

ul.theList {
    padding: 0px;
}
